*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #262626;
    --gray: #8b8f92;
    --red: #FF5E3A;
}


body {
    
    background-color: var(--black);
    color: var(--gray);
    font-family: 'Hind Guntur',
    sans-serif;
}

.container-header {
    max-width: 940px;
}

.container {
    max-width: 960px;
}

section {
    margin-bottom: 3rem;
}

/* h1 {
    padding: 2rem;
    color: var(--red);
} */

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

img:hover {
    
    opacity: .80;
}

p {
    font-size: 1rem;
}

ul {
    
    list-style: none;
}

.table {
    margin-top: 2.5em;
}

thead,
tbody {
    color: var(--gray);
}

thead:hover,
tbody:hover {
    color: var(--red);
}

th {
    text-align: center;
}

#last-th {
    text-align: start;
}

td {
    /* padding: 0.75em; */
    text-align: center;
}

#totalPriceOrder {
    font-size: 1.3rem;
    text-align: start;
}

button {
    margin-top: 2.5rem;
}

.btn {
    border: solid 1px var(--gray);
    background-color: var(--black);
    color: var(--gray);
}

.btn:hover {
    border: solid 1px var(--black);
    background-color: var(--gray);
    color: var(--black);
}

figcaption {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.figure-caption {
    color: var(--gray);
}

#productList {
    padding: 0.75em;
}

#productLens {
    margin-bottom: 2rem;
    border: solid 1px var(--gray);
    background-color: var(--black);
    color: var(--gray);
}

#quantityInput {
    margin-bottom: 2rem;
    border: solid 1px var(--gray);
    background-color: var(--black);
    color: var(--gray);
}

#productPrice {
    align-self: flex-end;
    font-size: 1.5rem;
    text-decoration: none;
}

#lenses {
    color: var(--gray);
}

#forms {
    display: none;
}



.list-none {
    padding-bottom: 3rem;
}

.navbar {
    height: 80px;
     background-color: var(--black);
      color: var(--red);
}

.nav-logo {
    padding: 0.3125rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--black);
    color: var(--red);
}

.nav-logo:hover {
    color: var(--gray);
}

.nav-link {
    padding: 0.3125rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--black);
    color: var(--red);
}

.nav-link:hover {
    color: var(--gray);
}

